html, body {	font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;	margin : 0;	padding : 0;	background : url([[pix:theme|body_bg_sml]]) repeat-x top [[setting:themecolor]];	color : #333333;
	}

html {
	border-top: 6px solid [[setting:themetrimcolor]];
}

#page-site-index {
	background: url([[pix:theme|body_bg]]) [[setting:themecolor]] repeat-x 0 [[setting:bannerheight]];	
}
html a:hover, body a:hover {	text-decoration : underline;}
html a, body a, html a:visited, body a:visited {	color : #333333;}
td.maincalendar table.calendartable th, table.rolecap .header, .generaltable .header, .forumheaderlist .header, .files .header, .editcourse .header, .logtable .header, #attempts .header, table#categoryquestions th {	background : #eeeeee !important ;}
div.yui3-widget-bd a, .tabtree li a, .block div.content a, .unlist a, .categorybox a, .course_category_tree a, .section a {	text-decoration : none;}a:active {	outline : 0;}
a:focus {	outline : 0;}

#contentwrapper {width : 100%;margin-left : auto;margin-right : auto;margin-bottom : 15px;padding-top : 0;clear : both;
border-top: 3px solid [[setting:menutrimcolor]];}

#contentwrapper-frontpage {width : 1000px;margin-left : auto;margin-right : auto;margin-bottom : 15px;padding-top : 0;clear : both;}

/* @group Header */

#headerwrap-frontpage {	width : 1000px;	margin-left : auto;	margin-right : auto;
	clear : both;	background : transparent;
	padding-top: 0px;}

#headerwrap {	width : [[setting:screenwidth]];	margin-left : auto;	margin-right : auto;	clear : both;	background : transparent;
	padding-top: 0px;}

.headerTable .logininfo,
.headerTable-frontpage .logininfo {
	color: #fff;
	font-size: .85em;
	float: right;
	position: relative;
	top: 50px;
	right: 5px;
	z-index: 1;
	margin-bottom: -15px;
}

.headerTable .logininfo a,
.headerTable-frontpage .logininfo a {
	color: #fff;
}

.headerTable .logininfo a:hover,
.headerTable-frontpage .logininfo a:hover {
	border-bottom: 1px dotted #fff;
	text-decoration: none;
}
#logowrap {	height : 120px;
	width: 260px;
	margin-top: 10px;}
#logo {
	background: url([[setting:logo]]) bottom center no-repeat transparent;
	width: 251px;
	height:  120px;
	margin-left: 20px;}

#logo-frontpage {
	background: url([[setting:logo]]) bottom center no-repeat transparent;
	width: 251px;
	height:  120px;
	border-bottom: 4px solid [[setting:menutrimcolor]];}

#headerstrip {
	width: 100%;
	background: [[setting:themecolor]];
	color: #fff;
	font-size: 1.25em;
	text-transform: uppercase;
	height: 40px;
	vertical-align: middle;
	padding-top: 13px;
}

.headerTable {
	display:  table;
	width: 100%;
	min-width: 1005px;
	border-spacing:0px;
}

.headerTable-frontpage {
	display:  table;
	width: 1005px;
	border-spacing:0px;
}

.header_left {
	float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:251px;
    background-color:transparent;
 }
 
 .header_right {
	float:right; /*fix for  buggy browsers*/
    display:table-column;
    width:750px;
    background: transparent;
 }
 
 #homeblocks {
	background: url([[setting:banner]])  top center no-repeat #000;
	width: 750px;
	height: [[setting:bannerheight]];
	padding: 0px;
	margin: 0px;
}

#toplinks {
	height: [[setting:bannerheight]];
	width: 100%;
	background: [[setting:menucolor]];
	border-top: 3px solid [[setting:menutrimcolor]];
	border-right: 3px solid [[setting:menutrimcolor]];
}

#searchbox {
	background: #fff;
	width: 250px;
	height: 54px;
	float: left;
	margin-right: 20px;
	margin-top: -13px;
}
div.langmenu {float : right !important ;display : inline !important ;padding : 0 0 0 0 !important ;line-height : 28px !important ;margin : 0 0 0 5px !important ;font-size : 9px;}

#ebutton {width : 130px;float : right;text-align : right;margin-top : 4px;margin-right : 10px;
font-size: .7em;}

#ebutton #editmode {
}

#ebutton input[type="submit"] {
	float: right;
	padding: 5px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	color: #fff;
	border: 0px none;
	margin-left: 5px;
	padding-left: 18px;
	padding-right: 5px;
	cursor: pointer;
	text-transform: uppercase;
}

#ebutton #off input[type="submit"] {
	background: url([[pix:theme|editmode_off]]) left no-repeat #777 !important;
}

#ebutton #on input[type="submit"] {
	background: url([[pix:theme|editmode_on]]) left no-repeat #777 !important;
}
.clearer {clear : left;}.arrow, .arrow_button input {color : #aaa;}

div#jcontrols_button a {
	color: #fff;
}
div.jcontrolsleft {	margin-left : 15px;
	margin-top: -5px;	font-weight : 600;	float : left;	min-width : 100px;	max-width : 45%;	overflow : hidden;	height : 35px;}
div.jcontrolsright {	float : right;	min-width : 50%;	height : 35px;	margin-right : 15px;}
.jcontrolsright .logininfo {	line-height : 30px;	font-size : 11px;	font-weight : 200;	text-align : right;}
.jcontrolsright .logininfo a {color : #555555;}div.jcontrolsright div.singlebutton, div.jcontrolsright div.forumsearch {margin : 5px 0 0;}



/* @end */

/* @group Dropdown Menu */

#menuitemswrap {	font-size : 13px;	font-weight : 600;	float : right;	border : 0 !important ;	margin-left : 0;	margin-top : 0;	margin-bottom : 0;}

#menuwrap {	height : 45px;	width : 100%;	margin: 0px;	clear : both;	background : [[setting:menucolor]];
	border-bottom: 4px solid [[setting:menutrimcolor]];
	margin-top: 86px;
	margin-bottom: -4px;}

#menuwrap-frontpage {	height : 45px;	width : 100%;	margin: 0px;	clear : both;	background : [[setting:menucolor]];
	border-bottom: 4px solid [[setting:menutrimcolor]];
	margin-top: 84px;}

#custommenu {	border : none !important ;	height : 45px;}

div.yui3-menu.yui3-menu-horizontal {	background : transparent !important ;	border : none !important ;	float : left;}.yui3-skin-sam .yui3-menu-horizontal .yui3-menu-label {    background-image: none !important;}
div.yui3-menu-content {	border : none !important ;	background : transparent !important ;}

.yui3-menu-content li a:hover {
	background : [[setting:menuhovercolor]] !important;
}
.yui3-menu-content li a {	font-size : 1.3em;	text-transform : uppercase;	margin : 0 !important ;	font-weight : 400 !important ;	line-height : 45px !important ;	cursor : pointer !important ;
	padding-left: 18px !important;
	padding-right: 18px !important;	border-right : 1px [[setting:menutrimcolor]] solid !important ;	border-top : none !important ;	border-bottom : none !important ;	color : [[setting:menulinkcolor]] !important ;
	background: [[setting:menucolor]];}
.yui3-menu-horizontal .yui3-menu-label {	padding-left : 20px !important ;	color : [[setting:menulinkcolor]] !important ;}
.yui3-menu-horizontal .yui3-menu-label-menuvisible {	background-position : 5px -23px !important ;}
.yui3-menu-content li {	border : none !important ;}
.yui3-menu-content li:hover {	background: [[setting:menuhovercolor]] !important;}
div.yui3-menu.custom_menu_submenu {	background : url([[pix:theme|menu/yuiarrow]]) no-repeat 20px 0% !important ;	border : none;	min-width : 100px;	z-index : 99998;}
div.yui3-menu.custom_menu_submenu div.yui3-menu.custom_menu_submenu {	background : none !important ;	min-width : 100px;}
div.yui3-menu.custom_menu_submenu div.yui3-menu-content {	z-index : 99999;	min-width : 200px;	padding-top : 0 !important ;	padding-bottom : 0 !important ;	margin : 20px 0 0 -40px;	background : url([[pix:theme|menu/black80]]) !important ;}
div.yui3-menu.custom_menu_submenu div.yui3-menu-content div.yui3-menu.custom_menu_submenu div.yui3-menu-content {	position : absolute;	top : -15px;}
div.yui3-menu.custom_menu_submenu .yui3-menu-content li {	border-left : none;}div.yui3-menu.custom_menu_submenu .yui3-menu-content li a {	font-size : 12px;	border-bottom : 0 solid #cccccc !important ;	border-top : 0 solid #fff !important ;	text-transform : none;	text-decoration : none !important ;}
div.yui3-menu.custom_menu_submenu .yui3-menu-content li a:hover {	cursor : pointer;	text-decoration : none !important ;	background : [[setting:menuhovercolor]] !important ;}
div.yui3-menu.custom_menu_submenu li a.yui3-menu-label {	background : url([[pix:theme|menu/subarrow]]) no-repeat right center !important ;}
div.yui3-menu.custom_menu_submenu li a.yui3-menu-label:hover {	background : url([[pix:theme|menu/subarrow]]) no-repeat right center !important ;}

/* @end */

/* @group Footer */

#footerwrapper {	background : transparent;	width : [[setting:screenwidth]];	margin-top: 10px;	margin-left : auto;	margin-right : auto;	margin-bottom : 10px;}

#footerwrapper-frontpage {	background : transparent;	width : 1000px;	margin-top: 10px;	margin-left : auto;	margin-right : auto;	margin-bottom : 10px;}
#footerinner {margin-left : auto;margin-right : auto;color : #7d7d81;padding : 10px;height : 40px;font-size : .85em;}
#footerinner a {color : #7d7d81;}

#footerinner .logininfo {
	padding-top: 10px;
	float: right;
}

#footerinner .copyright {
	float: right;
}

/* @end */

/* @group Breadcrumbs */

.nav_title {
	color: #fff;
	font-size: .55em;
	font-weight: normal;
}

.breadcrumb {text-transform : uppercase;font-weight : bold;font-size : .75em;margin-left : 0px;
color: #fff;
margin-top: -5px;}
.breadcrumb a {color : #fff !important ;}
.breadcrumb ul {color : #fff;
line-height : 35px;}
.breadcrumb li a, .breadcrumb li, .breadcrumb li a:visited {font-weight : 200;text-decoration : none;color : #fff;}.breadcrumb li a:hover {text-decoration:none;
border-bottom: 1px dashed #fff;}.breadcrumb li img {vertical-align : middle;}

/* @end */

/* @group Regions */

#page-content {
	border: 1px solid #fff;
	border-top: 0px none;
}

#region-main-box {
	margin-top: -5px;
	font-size: .85em;
}
#page-content #region-main-box {
    left: 200px;
/* Width of left sideblock */
}

#page-content #region-post-box {
    margin-left: -410px;


/* Twice width of left sideblock */
  padding-top: 5px;
}

#page-content #region-main {
    margin-left: 460px;


/* Twice width of left sideblock */
  padding: 0 15px;


/* Padding around middle column */
}

#page-content #region-pre {
    left: 210px;
	background: #f1f2f2;
	padding-bottom: 15px;
	padding-top: 0px;

/* Width of left sideblock */
  width: 250px;


/* Width of left sideblock */
}

#page-content #region-post {
    width: 200px;
/* Width of right sideblock */
}

#page-content #region-main-box .region-content {
    padding: 0;
}

/* @group Only Pre */

.side-pre-only #page-content #region-post-box {
    margin-left: -200px;
}

.side-pre-only #page-content #region-main {
    margin-left: 250px;
}



/* @end */

/* @group Only Post */

.side-post-only #page-content #region-post-box {
    margin-left: -250px;
}

.side-post-only #page-content #region-main {
    margin-left: 250px;
}

.has_dock.side-post-only .page-middle #region-main-box #region-post-box #region-main-wrap #region-main {
    margin-left: 250px;
}



/* @end */



/* @end */#mainpadder {padding : 2px;}

#page-content {clear : both;background : #ffffff;}

/* @group Blocks
 */

.block {	margin : 20px;
	margin-bottom: 0px;
	margin-top: 15px;	padding : 0px;	border: 0px none;
	background : #fff;}

.block .header .commands {
	background: #ccc;
}
.block div.header {	margin : 0 0 0 !important ;	padding-top : 0 !important ;	border-bottom : 0px none;
	background: [[setting:themecolor]];}
.block.hidden div.header {	border-bottom : 0;}
.block.block_with_controls div.header div.commands {	text-align : center;	padding : 2px;}
.block.block_with_controls div.header div.commands a img {	margin-right : 3px;}
.title h2 {	padding : 0px 0px 5px 10px;	font-size : 1.2em;	text-transform : uppercase;	margin : 0 !important ;	font-weight : 300;	color : #fff;	padding-top : 8px;}
.block div.block_action input, .block div.block_action img {	margin-top : 3px;	margin-right : 3px;	position : relative;	top : 6px;}
.block div.content {	font-size : 12px;	font-weight : 200;	padding : 10px 15px 15px 10px;}
#region-post .block div.content {	padding-left : 20px;}
.block_comments div.content li {	list-style-type : none;}
.block_messages.block div.content .list a {	font-size : 10px;}

/* @group region-post Blocks */

#region-post .block {	margin : 0px;
	margin-bottom: 0px;
	margin-top: 15px;	padding : 0px;	border: 1px solid #ccc;
	background : #fff;}

/* @end */

/* @group Home Blocks */
#homeblocks .block {
	background: transparent;
	width: 100%;
	margin:0px;
}

#homeblocks .block .header {
	padding-left: 10px;
}

#homeblocks .block label,
#homeblocks .block .block_action {
	display: none;
}

#homeblocks .block .title h2 {
	margin: 0px;
	padding: 0px;
	padding-bottom: 5px;
	font-size: 1.1em;
}

#homeblocks .block div.content {
	padding: 0px;
	margin-top: -3px;
}

/* @end */

/* @group Top Links */
#toplinks .block {
	background: transparent;
	width: 215px;
	color: [[setting:menulinkcolor]];
}

#toplinks .block label,
#toplinks .block .block_action {
	display: none;
}

#toplinks .block .header {
	background: transparent;
	border-bottom: 1px solid [[setting:menutrimcolor]];
}

#toplinks .block .title h2 {
	margin: 0px;
	padding: 0px;
	padding-bottom: 5px;
	font-size: 1.1em;
}

#toplinks .block div.content {
	padding: 0px;
	margin-top: -3px;
}

/* @group Top Links HTML block */

#toplinks .block_html .content,
#toplinks .block_html .content a {
	color: [[setting:menulinkcolor]];
}

#toplinks .block_html .content ul li:hover {
	background: [[setting:menuhovercolor]];}

#toplinks .block_html .content ul {
	margin:0;
	padding:0;
}

#toplinks .block_html .content ul li {
	border-bottom: [[setting:menutrimcolor]] 1px dashed;
	padding: 8px;
	text-transform: uppercase;
	margin-left: 0px;
	font-size: 1em;
}

#toplinks .block .header .commands {
	background: transparent;
	top: 0px;
	left: -10px;
}

/* @end */

/* @end */

/* @group Global Search */
#searchbox .block_search .block {
	background: transparent;
}

#searchbox .block_search .title h2,
#searchbox .block_search label,
#searchbox .block_search .block_action {
	display: none;
}

#searchbox .block_search div.content {
	padding: 0px;
	margin-top: -3px;
}

#searchbox #searchquery {
	border: 0px none #fff !important;
	padding: 0px;
	margin: 0px;
}

#searchbox .block_search input[type="text"],
#searchbox .block_search textarea {
	background: #f0f0f0;
	height:  28px;
	width:  160px;
	border: 1px solid #dededf;
	cursor: text;
	color: #000;
	font-size: 1em;
	padding-left: 10px;
}

#searchbox .block_search input,
#searchbox .block_search input select{
height: 30px;
width: 33px;
background:url([[pix:theme|search_button]]) top left [[setting:menucolor]];
border: 1px solid #7d7d81;
color: transparent;
cursor: pointer;
}

#searchbox .block .header .commands {
	background: transparent;
	top: 0px;
	left: -10px;
	margin-top: -10px;
	width: auto;
}
/* @end */

/* @group Login Block */

.block_login.block {
	margin: 0px;
	background: [[setting:themecolor]];
}
.block_login div.content label {	color: #fff;
	text-transform: uppercase;
	font-size : 1.2em;	display : inline-block;	min-width : 50px;	margin-right : 3px;
	padding-bottom: 10px;}

.block_login div.content a {
	color: #fff;
}

.block_login input[type="text"],
.block_login input[type="password"],
.block_login textarea {
	background: #fff !important;
	font-size: 1em;
	height: 25px;
	margin-top: 0px;
	border: 1px solid #ccc;
	color: #000;
	text-align: left !important;
	width: 210px !important;
}

.block_login input, 
.block_login input select {
	background: #7e7f83;
	border: 1px solid #fff;
	padding: 12px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #fff;
	margin-top: 5px;
	float: right;
}

.block_login .footer {
	padding-bottom: 10px;
}

.block_login .header h2,
.block_login .header .block_action {
	display: none;
}

.block_login .header .commands {
	border-top: 20px solid [[setting:themecolor]];
	width: 150px;
}

/* @end */

/* @group My Profile */


#searchbox .block_myprofile .block {
	background: transparent;
}

#searchbox .block_myprofile .title h2,
#searchbox .block_myprofile label,
#searchbox .block_myprofile .block_action {
	display: none;
}

#searchbox .block_myprofile div.content {
	padding: 0px;
	margin-top: -7px;
	color: [[setting:themecolor]];
	width: 250px;
	margin-left: -50px;
}

#searchbox .block_myprofile img.profilepicture {
	height:  37px;
	width: 37px;
	float: right;
	border: 1px solid [[setting:themecolor]];
}

#searchbox .block_myprofile .fullname {
	font-size: 1.2em;
}

#searchbox .block_myprofile .email {
	font-size: .95em;
}

#searchbox .block_myprofile .country,
#searchbox .block_myprofile .city {
	display: none;
}
/* @end */

/* @group Calendar */

.block_calendar_month .current {
	font-weight: normal;
}

.block_calendar_month .calendar-controls {
	background: [[setting:themetrimcolor]];
	padding: 5px;
	border: 1px solid #ccc !important;
	border-bottom: 0px none !important;
	text-transform: uppercase;
}

.block_calendar_month .calendar-controls a{
	color: #fff;
}

.block_calendar_month table.minicalendar.calendartable th {border : none !important ;}

.block_calendar_month table.minicalendar .weekdays td{
	border-top: 2px solid #000 !important;
	margin-bottom: 3px;
}
.block_calendar_month table.minicalendar {margin-bottom : 0 !important ;
border: 1px solid #ccc !important;
padding: 3px;
margin-top: 0px;}
.block_calendar_month table.minicalendar.calendartable th abbr {	text-decoration : none;}

/* @end */

/* @group My Profile */

.block_myprofile div.content div {font-size : 11px;}.block_myprofile div.content div.myprofileitem.picture {width : 105px;float : left;}.block_myprofile div.myprofileitem.fullname {font-size : 12px;font-weight : 800;}.block_myprofile div.myprofileitem.edit {clear : both;font-weight : 800;font-size : 12px;}

/* @end */

/* @group News */

.block_news_items div.content li.post {margin-bottom : 4px;margin-top : 2px;}.block_news_items div.content div.head.clearfix {font-size : 11px;}.block_news_items div.content div.info {font-weight : 600;}

/* @end */.block_recent_activity.block_docked div.content h2.main, .block_recent_activity.block_docked div.content h3.main, .side-pre .block div.content h2.main, .side-post .block div.content h2.main, .block div.content h3.main, .block div.content h2 {font-size : 13px;color : #333;font-weight : 800;background : none;font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;}

/* @group Recent Activity */



/* @end */



/* @end */div.tabtree li a span {font-size : 11px;}

/* @group Performance Information */
#footerinner .performanceinfo {
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
	-webkit-border-top-left-radius:15px 15px;
	-webkit-border-top-right-radius:15px 15px;
	bottom:0;
	left:-290px !important;
	position:fixed;
	background-color:#444;
	width:580px !important;
	border-width:12px 12px medium;
	margin:0 50% !important;
}

#footerinner .performanceinfo ul {
	text-align: center; 
	margin: 0 auto;
}

#footerinner .performanceinfo li{
	display:block;
	list-style-type:none;
	float:left;
	padding:5px 0;
	width:25%;
}

#footerinner .performanceinfo li var{
	font-size:1.3em;
	font-weight:700;
}

#footerinner .performanceinfo .green{
	color:#588E13 !important;
}

#footerinner .performanceinfo .blue{
	color: #4381c3;
}

#footerinner .performanceinfo .purple{
	color: #c052cf;
}

#footerinner .performanceinfo .orange{
	color: #e69b22;
}

#footerinner .performanceinfo .red{
	color: #df3b16;
}

#footerinner .performanceinfo .white{
	color:#FFF !important;
}

#footerinner .performanceinfo span{
	color:#fff;
	display: block;
}
/* @end */

div#jcontrols_button span.arrow.sep {font-size : 1px;color : #dadada;display : inline-block;width : 16px;}

/* @group Homepage */

/* @group Home_title */

.home_title {
	border: 1px solid #dededf;
	width: 100%;
	color: #666666;
}

.home_title td {
	padding: 15px;
	padding-bottom: 5px;
	padding-top: 10px;
}

.home_title h1 {
	color: [[setting:themetrimcolor]];
	font-weight: normal;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.home_title h2 {
	color: [[setting:themecolor]];
	font-weight: normal;
	font-size: 1em;
}

/* @end */

/* @group Home_info */

.home_info {
	border: 1px solid #dededf;
	width: 100%;
	background: #f0f0f0;
	color: #666;
}

.home_info td {
	padding: 30px;
	text-align: left;
	vertical-align: top;
	text-align: left !important;
}

.home_info img {
	margin: -30px;
}

.home_info_text {
	width: 100%;
}

.home_info_text .links {
	border: 1px solid #dededf;
	background: #fff;
	width: 100%;
	margin-bottom: -10px;
}

.home_info_text .links td {
	padding: 10px;
}

.home_info_text .links a {
	background: [[setting:themecolor]];
	color: #fff;
	padding: 5px;
	border: 1px solid #dededf;
}
/* @end */

/* @end */

div.yui3-widget.yui3-overlay.yui3-widget-positioned {border : 1px solid #cccccc;}div.yui3-overlay-content.yui3-widget-stdmod {border : 1px solid #fff;background : #eeeeee url([[pix:theme|alert-overlay]]) repeat-x;}div.yui3-overlay-content.yui3-widget-stdmod img {vertical-align : middle;}div.yui3-widget-bd {border : none;background : none;}div.yui3-widget-bd h1.helpheading {font-size : 16px !important ;font-weight : 800;margin-top : 5px;}.yui-module.yui-overlay.yui-panel div.hd {background : #eeeeee url([[pix:theme|bart5]]) repeat-x 0% 90%;}

/* @group Dock */

#dock {padding-top : 6px;width : 30px;
background: [[setting:menutrimcolor]];}div.dockeditem_container div.dockeditem {background : url([[pix:theme|mbar]]) repeat-y;border : none;color : [[setting:menulinkcolor]];font : 100% Constantia, Lucidabright, Lucida, Georgia, serif;}div.dockeditem_container.firstdockitem {border-top : none;}div.dockedtitle {border-top: none !important;
border-color: [[setting:menulinkcolor]] !important;padding-top : 3px;padding-bottom : 3px;
background: [[setting:menucolor]];}.dockedtitle h2 {
font-size: 1em;}div.dockeditempanel_content {border : 1px solid #fff !important ;border-left : none !important ;font-size : 90%;}div.dockeditempanel_content a {text-decoration : none;}div.dockeditempanel_hd {text-align : left;font-size : 12px;}div.dockeditempanel_hd {padding-top : 3px;padding-bottom : 3px;background : #eee;border-bottom : 1px solid #dadada !important ;}div.dockeditempanel_hd h2 {font-weight : 600;font-size : 12px;}div.dockeditempanel_bd ul, div.dockeditempanel_bd li {list-style-type : none;padding : 0;}div.dockeditempanel_bd {font-weight : 200;}#dockeditempanel {margin-left : 1px;}#dock div.controls {margin-top : 20px;padding-top : 0;position : relative;}

/* @end */h3.sectionname, h2.headingblock, h2.main, h3.main, h2.main a, h3.main a, div.loginpanel h2, div.signuppanel h2 {font-size : 18px;text-transform : uppercase;text-align : left;padding-bottom : 2px;margin : 3px 0 2px;display : block;font-weight : normal;}#page-course-info h2.main, h3.sectionname, h2.main a, h3.main a, div.loginpanel h2, div.signuppanel h2, div.hd h3.main {font-size : 16px;background : none;}#page-my-index h3.main {border-bottom : 0;}

/* @group Forums */

.forumpost {border : 1px solid #eee;}.forumpost img {  max-width: 100%;}.forumpost div.row.header {background : #eee url([[pix:theme|forumt]]) no-repeat 20px 100%;padding-bottom : 12px;}.forumpost .left.picture img {border : 2px solid #fff;}.forumpost .topic {padding-top : 5px;padding-left : 5px;}.forumpost .subject {font-size : 110%;}.forumpost .author {font-size : 90%;font-weight : 300;}.forumpost .content {padding : 10px;}.forumpost .row.side {font-size : 90%;padding-top : 10px;padding-bottom : 5px;}.forumpost .commands {padding-right : 5px;}

/* @end */.info .name a {font-weight : bold;}.indent {margin-left : 30px;}div.subscribelink {text-align : right;}.subscribelink a {text-decoration : none;font-size : 11px;}.mform fieldset, fieldset.clearfix {border : 1px solid #dadada !important ;background : #f9f9f9;}.ftoggler {font-size : 18px;color : #333333;}div.notifysuccess {width : 80%;margin : 0 auto;font-size : 15px;color : #008500;border : 3px solid #dadada;text-align : center;background : #fff url([[pix:theme|check]]) no-repeat 2% 50%;padding : 5px;}table a {text-decoration : none;}td.maincalendar table.calendartable th, table.rolecap .header, .generaltable .header, .forumheaderlist .header, .files .header, .editcourse .header, .logtable .header, #attempts .header, table#categoryquestions th {font-size : 11px;font-weight : 200;text-decoration : none;color : #333333 !important ;border-top : 1px solid #ccc !important ;padding : 5px;}table#categoryquestions th a {color : #fff;}.generaltable .header a, .forumheaderlist .header a, th.header.questionnametext a {border : none;color : #fff !important ;font-size : 12px;text-decoration : none;padding : 5px;}tr.r1 td {background-color : #f9f9f9;}table.rolecap td, table.rolecap th {border-bottom : 1px solid #dadada;}table.rolecap td.risk {border-left : 1px solid #dadada;}ul.unlist, ul.unlist li, ul.unlist li div, ul.unlist li div ul, ul.unlist li div ul li {list-style-type : none;padding : 0;margin : 0;}div.coursebox {padding-bottom : 7px !important ;margin-bottom : 7px !important ;border-bottom : 1px solid #eee;}div.coursebox h3.name {margin-top : 0;margin-bottom : 0;}div.coursebox h3.name a {font-size : 16px;font-weight : 400;}.unlist div.summary {font-size : 14px;color : #666666;font-style : italic;}.unlist ul.teachers {display : block;padding-left : 5px !important ;}.unlist ul.teachers li {font-size : 10px;}.unlist ul.teachers li a {font-size : 11px;}div.categorybox {border : none !important ;margin-top : 0;}td.category.name a {padding-left : 20px;font-weight : 400;font-size : 16px;}#course-index td.category.name a {padding-left : 0;background-image : none;}table.categorylist td {padding : 0;}div.course_category_tree a {font-size : 16px;font-weight : 400;text-decoration : none;}div.course_category_tree div.category, div.course_category_tree div.category_label, div.course_category_tree div.courses {margin-bottom : 8px;}div.course_category_tree div.category.with_children div.category_label {background-position : 0% 55% !important ;}div.course_category_tree div.course.odd {background : #eee;}div.course_category_tree div.course a {font-size : 14px;}div.category.subcategory.with_children {margin-left : 20px;}div.course_category_tree div.controls {font-size : 10px;color : #666;text-transform : uppercase;}div.course_category_tree div.controls div {margin-top : 3px;margin-right : 10px;border-bottom : 1px solid #dadada;}.path-course-view .course-content li.section {border : 1px solid #e5e5e5;}.path-course-view .course-content .side {padding : 5px 0;}#page-course-view-weeks .weekdates {font-size : 1em;font-weight : normal;color : #777;padding : 2px;}
.course-content {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.course-content .left {
	color: #fff;
	font-size: 3em;
	padding-left:10px !important;
}.course-content .main {background : #eee;}.course-content .current {background : #ffffcc;}.course-content .main .content {padding : 10px;background : #fff;}span.completionprogress {font-size : 11px;font-weight : 200;}div.assignment.overview {margin-bottom : 5px;padding-bottom : 3px;border-bottom : 1px dashed #dadada;}div.assignment.overview div.name {font-weight : 600;}div.assignment.overview div {display : block !important ;float : none !important ;width : 100% !important ;}#page-my-index div.coursebox {border-bottom : none;}table.glossarycategoryheader h2.main {text-align : center;margin-bottom : 0;margin-top : 0;}table.glossarypost {margin-top : 0;width : 100%;border-bottom : 1px dashed #dadada;}table.glossarypost td.entry h3 {font-size : 20px;}#page-mod-wiki-view div.generalbox {padding : 10px;}#page-mod-wiki-view h2.wiki_headingtitle {font-size : 22px;font-family : Georgia, serif;color : #333333;font-weight : 600;text-align : left;margin-bottom : 3px;margin-top : 2px;}.content hr {height : 1px;color : #dadada;background-color : #dadada !important ;border : none;border-style : none;}div#intro {border : none;text-align : center;font-size : 14px;color : #333333;}div.que {border : 1px solid #dadada;}div.questionbankwindow.block div.header {background : #eee !important ;}div.questionbankwindow.block div.header a {color : #333333 !important ;font-size : 11px;}div.generalbox, div.section {border : 1px solid #dadada;
padding: 10px;}

div.generalbox {border : 0px none;}

.boxwidthwide {
	width: 90%;
}div.generalbox.sitetopic, div.generalbox.authsui, #page-course-info div.generalbox, #page-admin-roles-assign div.generalbox, table.roleassigntable, table.roleassigntable td, #page-blocks-private-edit div.generalbox {border : none;}div.generalbox.firstpageoptions h3.main {font-size : 16px;}div.redirectmessage {width : 60%;margin : 10px auto 0 auto;border : none;font-size : 13px;background : #fff url([[pix:theme|ajax-loader]]) no-repeat 50% 100%;padding : 20px;}div.box.errorbox {border : 1px solid #dadada;color : #ff0000;background : #fff url([[pix:theme|error]]) no-repeat 1% 3%;padding : 10px;}div#newmessageoverlay {padding : 10px;}div#newmessageoverlay a {text-decoration : none;font-size : 11px;}#page-mod-page-view div.generalbox {border-left : none;border-right : none;border-top : none;}div#tablecontainer {margin-bottom : 10px;}div.course-content div.availabilityinfo {font-size : 11px;font-style : italic;padding : 2px;border-bottom : 1px dashed #dadada;margin-bottom : 10px;}.twocolumns div.loginpanel {border-right : 1px dashed #dadada !important ;}div.forgetpass {clear : both;}div.loginform {width : 50% !important ;}div.loginform div.form-input input {width : 90px !important ;}div.loginform label {line-height : 20px;}div.signuppanel {float : right !important ;width : 40% !important ;margin-left : 0;padding-left : 0;}div.singlebutton.forumaddnew {text-align : center;}#page-course-info h2.main {line-height : 5px;margin-bottom : 5px;}#page-course-info div.generalbox ul, #page-course-info div.generalbox li {list-style-type : none;}.singlebutton {margin : 0 !important ;}.calendar_event_course {background-color : #dddddd;}.calendar_event_global {background-color : #ddeeb8;}.calendar_event_group {background-color : #fee7ae;}.calendar_event_user {background-color : #bee2f7;}#id_summary_editor {width:100%;}.minicalendar td.today {	border:#de473c solid 2px !important;}.mod-indent a:hover {text-decoration:none;}.mod-indent img {vertical-align:middle;}#page-admin-index .adminwarning {border: 1px solid #ccc48d;background: #fff9d0 ;}