/* @group Page Layout and Docking Module */

html {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

body {
    margin: 0;
    padding: 0;
}

#page-wrapper {
    width:[[setting:screenwidth]];
    min-width: 910px;
    margin: 0 auto;
    background: transparent;
    border: 0px none;
}

#page-site-index #page-wrapper{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#page {
    width: 100%;
    margin: 0 auto;
    padding:0;
    background: transparent;
}



/* @end */

/* @group 3 Column Page Layout */

#page-content {
    position:relative;    /* fixes IE7 overflow hidden bug stoping layout jumping out of place */
    clear:both;
    float:left;
    width:100%;            /* width of whole page */
    overflow:hidden;        /* This chops off any overhanging divs */
    background: #f1f2f2;        /* Left column background colour */
}
#region-main-box {
    float:left;
    width:200%;
    position:relative;
    left:250px;
    background: #fff;        /* Centre column background colour */
	}
#region-post-box {
    float:left;
    width:100%;
    position:relative;
    left:50%;
    margin-left: -500px;
    background: #fff;        /* Right column background colour */
}
#region-main-wrap {
    float:right;
    width:50%;
    position:relative;
    right:100%;
}
#region-main-pad {
    margin:10px 0px 0 520px;
    overflow:hidden;
}
#region-main {
    width:100%;
    overflow:hidden;
}
#region-pre {
    float:left;
    width:250px;
    position:relative;
    margin-left:-50%;
    left:250px;
    overflow:hidden;
    background: transparent;
}
#region-post {
    float:left;
    width:250px;
    position:relative;
    left:0px;
    overflow:hidden;
}
#page-content #region-main-box .region-content {
    margin: 0;
    padding:0;
}
#page-site-index .headingblock {
    margin-bottom:9px;
    margin-left: 3px;
}
#page-footer {
    clear:both;
    float:left;
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-top: 1px dotted #ccc;
}



/* @end */

/* @group Block Region Layout */

#region-pre .block-region {
    float: left;
    width: 250px;
    margin: 0;
    padding: 0;
}
#region-post .block-region {
    float: right;
    width: 250px;
    margin: 0;
    padding: 0;
}



/* @end */

/* @group Do Not Edit */

/* @group Side Pre Only */

.side-pre-only #region-main-box {width: 200%; left: 250px;}
.side-pre-only #region-post-box {width: 100%; left: 50%; margin-left: -250px; background-color: #fff;}
.side-pre-only #region-main-wrap {width: 50%; right: 100%;}
.side-pre-only #region-main-pad {margin: 0px 10px 0px 260px;}
.side-pre-only #region-main {width: 100%;}
.side-pre-only #region-pre {width: 250px; left: 0px; margin-left:-50%;}
.side-pre-only #region-post {width: 0px; left: 0px;}



/* @end */

/* @group Side Post Only */

.side-post-only #page-content { background-color: #fff;}
.side-post-only #region-main-box {width: 200%; left: 250px;}
.side-post-only #region-post-box {width: 100%; left: 50%; margin-left: -500px;}
.side-post-only #region-main-wrap {width: 50%; right: 100%;}
.side-post-only #region-main-pad {margin: 0px 0px 0px 260px;}
.side-post-only #region-main {width: 100%;}
.side-post-only #region-pre {width: 0px;left: 0px;}
.side-post-only #region-post {width: 250px; left: 0px;}



/* @end */

/* @group Side Post Only When Moving */

.blocks-moving.side-post-only #region-main-box {left: 250px;}
.blocks-moving.side-post-only #region-post-box {margin-left: -500px;}
.blocks-moving.side-post-only #region-main-pad {margin: 0 10px 0 510px;}
.blocks-moving.side-post-only #region-pre {width: 250px;left: 250px;}
.blocks-moving.side-post-only #region-post {width: 250px;left: 0px;}



/* @end */

/* @group Middle Column Only */

.content-only #page-content { background-color: #fff;}
.content-only #region-main-box {width: 200%; left: 0px;}
.content-only #region-post-box {width: 100%; left: 50%; margin-left: 0px; background-color: #fff;}
.content-only #region-main-wrap {width: 50%; right: 100%;}
.content-only #region-main-pad {margin: 0px 10px 0px 10px;}
.content-only #region-main {width: 100%}
.content-only #region-pre { width:0;left:0;}
.content-only #region-post { width: 0;left:0;}



/* @end */



/* @end */

/* @group Report Page Layout */

.pagelayout-report #page-content #region-main-box #region-post-box #region-main-wrap #region-main-pad #region-main .region-content .no-overflow {overflow: auto;}



/* @end */